<!doctype html>
<html lang="en">
<head>
    <title><%- title; %></title>
    <link href="./styles/theme.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class='gallery'>
    <%- galleryHtml; %>
</div>
</body>
</html>
